// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.landingTitle {
  @include abs-center;
  text-align: center;
  line-height: 1.2;
  h1 {
    font-size: 3em;
  }
  a {
    font-size: 2em;
  }
}